<div class="flex h-[100vh] justify-center items-center gap-[100px]">
  <div  >
    <h1 class="text-[140px] text-white">Go News</h1>
    <h2 class="text-[60px] text-white">Stay Updated as you Go..!!</h2>
  </div>
  <div class="text-4xl text-white gap-4 flex flex-col pl-[120px]">
    <a
      routerLinkActive="active"
      routerLink="news"
      class="border-2 border-cyan-900 p-2"
      >Technology News</a
    >
    <a
      routerLinkActive="active"
      routerLink="bnews"
      class="border-2 border-cyan-900 my-[30px] p-2"
      >Buisness News</a
    >
    <a class="border-2 border-cyan-900 p-2">Sports News</a>
  </div>
</div>
